doctype html
html(lang="en")
 head
 
  //- Start Head
  include pug-js/file-tag/head-tag.pug
  //- End Head

 body
  //- Start Navbar     
  include pug-js/layout/navbar.pug
  //- End Navbar 

  //- Start Header
  include pug-js/pages/header.pug
  //- End Header

  //- Start About ME
  include pug-js/pages/about.pug
  //- End About ME

  //- Start Services 
  include pug-js/pages/services.pug
  //- End Services

  //- Start Last News 
  include pug-js/pages/lastnews.pug
  //- End Last News

  //- Start Portfolio 
  include pug-js/pages/portfolio.pug
  //- End Portfolio

  //- Start Clints Say 
  include pug-js/pages/clints-say.pug
  //- End Clints Say

  //- Start contact
  include pug-js/pages/contact.pug
  //- End contact

  //- Start footer
  include pug-js/layout/footer.pug
  //- End footer

  //- Start javascript Files
  include pug-js/file-tag/javascript-files-tag.pug
  //- End javascript Files