//- Start Head
//- Meta TAGS
meta(charset="UTF-8")
meta(name="description" content="Project Training_ Portfolio")
meta(name="author" content="Hesham Adel")
meta(name="keywords" content="HTML,CSS,XML,JavaScript,pugjs,sass,php,laravel.mysql")
meta(http-equiv="x-ua-compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
//- Start My Code
title Portfolio
//- Start Library
link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css")
link(rel="stylesheet" type="text/css" href="css/normalize.css")
//- My Style Sheet
link(rel="stylesheet" type="text/css" href="css/my-style.css")
//- Google Font
link(href="https://fonts.googleapis.com/css?family=Poppins|Pattaya" rel="stylesheet")
//- End Head