//- Start About Section
#about-us
 .about
  .container-fluid
    .row
      .col-6.about-img.d-sm-none.d-md-block
        img(src="img/about.png")
      .col-6.about-me
        .bord-about.box.arrow-box
          h3.text-uppercase.text-sm-righ about me
        p.text-capitalize Lorem Ipsum is simply dummy text of the printing and typesetting industry
          |Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          |when an unknown printer took a galley of type 
          |and scrambled it to make a type specimen book
          |It has survived not only five centuries
          |but also the leap into electronic typesetting, remaining essentially unchanged.
        //-  MY INFO
        .my-info
          .info-span1
            span Name
            p Edrea Kennedy
          .info-span2 
            span Email
            p hello@example.com
          .info-span3 
            span Phone
            p +0123456789
          .info-span4
            span Twitter
            p designuix20
        .col-6.boutton-about.text-center
          button.bot(type="button") Download CV
            .inside cv
          button.bot(type="button") Send Message
            .inside message        
//- End About Section    