//- Start Clint Say Section
#clint-say
  .testimonials.text-center.col-md
      .overlay
      .container
          h2.text-uppercase our clients say
          #testimonials.carousel.slide(data-ride="carousel")
              .carousel-inner
                  .carousel-item.active
                    .carousel-caption.testmon-border.d-block
                      img(src="img/about.png" alt="")
                      .testmon-border
                        span.d-none.d-sm-block.one 
                        span.d-none.d-sm-block.two
                        span.d-none.d-sm-block.three 
                        span.d-none.d-sm-block.four
                        span.d-none.d-sm-block.five
                        h4.text-capitalize alex alex
                        p Company CEO
                        q Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's It has survived not only five centuries
                          | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  .carousel-item
                    .carousel-caption.d-block
                      img(src="img/about.png" alt="")
                      .testmon-border
                          span.d-none.d-sm-block.one 
                          span.d-none.d-sm-block.two
                          span.d-none.d-sm-block.three 
                          span.d-none.d-sm-block.four
                          span.d-none.d-sm-block.five 
                          h4.text-capitalize sam sam
                          p Business Man
                          q Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's It has survived not only five centuries
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  .carousel-item
                    .carousel-caption.d-block
                      img(src="img/about.png" alt="")
                      .testmon-border
                          span.d-none.d-sm-block.one 
                          span.d-none.d-sm-block.two
                          span.d-none.d-sm-block.three 
                          span.d-none.d-sm-block.four
                          span.d-none.d-sm-block.five
                          h4.text-capitalize ali ali
                          p Free Lancer
                          q Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's It has survived not only five centuries
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              ol.carousel-indicators
                  li.active(data-target="#testimonials" data-slide-to="0")
                  li(data-target="#testimonials" data-slide-to="1")
                  li(data-target="#testimonials" data-slide-to="2") 
//- End Clint Say Section