//- Start Contact Section
#contact-us
  .contact.text-center
      .container
          h2.text-uppercase contact me
          .row
            .col-sm-6.col-md-4.cont-box
              .card.upper-card
                span.b-one 
                span.b-two
                span.b-three 
                span.b-four
                .card-body
                  h3
                  i.fas.fa-map-marker-alt    Address
                  p 102 old townstrt <br/>
                    | Newland #106,New Yoek-123
            .col-sm-6.col-md-4.cont-box
              .card.upper-card
                span.b-one 
                span.b-two
                span.b-three 
                span.b-four
                .card-body
                  h3
                  i.fas.fa-envelope    E-mail
                  p youremail@gmail.com 
                    | companymail@gmail.com
            .col-sm-6.col-md-4.cont-box
              .card.upper-card
                span.b-one 
                span.b-two
                span.b-three 
                span.b-four
                .card-body
                  h3 
                  i.fas.fa-phone    phone
                  p + 9630 8522 7410 <br/>
                    |+ 9870 4566 3210
  .cont-form                  
      .container                       
        form
          .row
            .col-sm-12.col-md-6
              .form-group
                  input.form-control.input-lg(type="text" placeholder="Your Name") 
            .col-sm-12.col-md-6             
              .form-group
                  input.form-control.input-lg(type="email" placeholder="Your E-Mail") 
            .col-sm-12.col-md-6             
              .form-group
                  input.form-control.input-lg(type="text" placeholder="Tel") 
            .col-sm-12.col-md-6            
              .form-group
                  input.form-control.input-lg(type="text" placeholder="Subject")
            .col-sm.col-md             
              .form-group
                  textarea.form-control.input-lg(type="text" placeholder="Your Message")
        .cont-butn.text-center          
          button.bot(type="submit") send message
            .inside send message                                           
//- End Contact Section