//- Start header Section
.slider
  #main-slider.carousel.slide(data-ride="carousel")
      .carousel-inner
        .overlay
        .carousel-item.carousel-one.active

        .carousel-item.carousel-two

        .carousel-item.carousel-three
      ol.carousel-indicators
        li.active(data-target="#main-slider" data-slide-to="0")
        li(data-target="#main-slider" data-slide-to="1")
        li(data-target="#main-slider" data-slide-to="2")  

//- End slider          
//- Start header Section           
.my-typewrap  
  .container
    .row  
      .carousel-caption.d-block.text-center.my-icon
        ul.list-unstyled
          li 
            a(href="https://www.facebook.com/Hesham.H.Adel")
              i.fab.fa-facebook-f
          li 
            a(href="https://twitter.com/H_Adel5") 
              i.fab.fa-twitter
          li 
            a(href="#")
              i.fab.fa-instagram
          li 
            a(href="https://linkedin.com/in/heshamadel000")
              i.fab.fa-linkedin
          li 
            a(href="#")
              i.fab.fa-behance
          li 
            a(href="https://github.com/HeshamAdel0/Personal-Portfolio-Template.git")
              i.fab.fa-github 
        .type-wrap.text-capitalize
          span#typed
        p.text-capitalize I'm a Designer with extensive experience for over 3 years 
          | My expertise is to create and design Websites, Apps, Mockups and many more...
        .my-button.text-center
              button.bot(type="button") my work   
                .inside my work
              button.bot(type="button") hire me
                .inside hire me
//- End header Section