//- Start Last News Section
.lastnews.sync-link
 .overlay
 .container
  .row
    .col-md-6.last-prag
      h4 Get a Free Consultatin
      p.text-capitalize Lorem Ipsum is simply dummy text of the 
        | printing and typesetting industry
    .col-md-6.last-form    
      form
        input.lsat-form(type="email" placeholder="Enter Your E-Mail")
        button.bot(type="submit") get now
          .inside get now
//- End Last News Section      