//- Start Portfolio Section
#portfolio
  .portfolio.text-center
      .container
          h2.text-uppercase our portfolio
          ul.shuffle.list-unstyled.text-capitalize.row
            li.active.filter(data-filter="all").col-md all
            li.filter(data-filter=".logo").col-md logo
            li.filter(data-filter=".websites").col-md websites
            li.filter(data-filter=".graphic").col-md graphic
            li.filter(data-filter=".photography").col-md photography
            li.filter(data-filter=".video").col-md video
      #shuffel-container.shuffel-imges
        .row
          .col-md.imge-hover
            .img-text
              h5 logo
              a(href="#")
                button.bot read more
                  .inside read more
            .my-imge        
              img.mix.logo(src="img/portfolio-1.jpg" alt="")
          .col-md.imge-hover  
            .img-text
              h5 websites
              a(href="#")
                button.bot read more
                  .inside read more
            .my-imge        
              img.mix.websites(src="img/portfolio-2.jpg" alt="")
          .col-md.imge-hover    
            .img-text
              h5 photography
              a(href="#")
                button.bot read more
                  .inside read more
            .my-imge        
              img.mix.photography(src="img/portfolio-3.jpg" alt="")
          .col-md.imge-hover    
            .img-text
              h5 graphic
              a(href="#")
                button.bot read more
                  .inside read more
            .my-imge        
              img.mix.graphicy(src="img/portfolio-4.jpg" alt="")      
        .row
          .col-md.imge-hover
            .img-text
              h5 photography
              a(href="#")
                button.bot read more
                  .inside read more
            .my-imge        
              img.mix.photography(src="img/portfolio-4.jpg" alt="")
          .col-md.imge-hover  
            .img-text
              h5 graphic
              a(href="#")
                button.bot read more
                  .inside read more
            .my-imge        
              img.mix.graphic(src="img/portfolio-1.jpg" alt="")
          .col-md.imge-hover    
            .img-text
              h5 video
              a(href="#")
                button.bot read more
                  .inside read more
            .my-imge        
              img.mix.video(src="img/portfolio-2.jpg" alt="")
          .col-md.imge-hover    
            .img-text
              h5 logo
              a(href="#")
                button.bot read more
                  .inside read more
            .my-imge        
              img.mix.logo(src="img/portfolio-3.jpg" alt="")
//- End Portfolio Section