//- Start Services Section
#service.block
  .services.text-center
        .container
          h2.text-uppercase our services
          .row
            .col-sm-6.col-md-6.col-lg-4.serv-groub1
              .card.upper-card
                span.b-one 
                span.b-two
                span.b-three 
                span.b-four
                .icon
                  i.rounded-circle.fas.fa-desktop
                .card-body
                  h3.special-heading.text-uppercase ui/ux design
                  p.serv-prag Lorem Ipsum is simply dummy text of the printing 
                    | and typesetting industry Lorem Ipsum has been the industry's
                    | It has survived not only five centuries
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .col-sm-6.col-md-6.col-lg-4.serv-groub1
              .card.upper-card
                span.b-one 
                span.b-two
                span.b-three 
                span.b-four
                .icon
                  i.rounded-circle.fa.fa-mobile-alt
                .card-body
                  h3.special-heading.text-uppercase app design
                  p.serv-prag Lorem Ipsum is simply dummy text of the printing 
                    | and typesetting industry Lorem Ipsum has been the industry's
                    | It has survived not only five centuries
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .col-sm-6.col-md-6.col-lg-4.serv-groub1
              .card.upper-card
                span.b-one 
                span.b-two
                span.b-three 
                span.b-four
                .icon
                  i.rounded-circle.fab.fa-apple
                .card-body
                  h3.special-heading.text-uppercase logo design
                  p.serv-prag Lorem Ipsum is simply dummy text of the printing 
                    | and typesetting industry Lorem Ipsum has been the industry's
                    | It has survived not only five centuries
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .col-sm-6.col-md-6.col-lg-4.serv-groub2
              .card.upper-card
                span.b-one 
                span.b-two
                span.b-three 
                span.b-four
                .icon
                  i.rounded-circle.fa.fa-database
                .card-body
                  h3.special-heading.text-uppercase web design
                  p.serv-prag Lorem Ipsum is simply dummy text of the printing 
                    | and typesetting industry Lorem Ipsum has been the industry's
                    | It has survived not only five centuries
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .col-sm-6.col-md-6.col-lg-4.serv-groub2
              .card.upper-card
                span.b-one 
                span.b-two
                span.b-three 
                span.b-four
                .icon
                  i.rounded-circle.fa.fa-paint-brush
                .card-body
                  h3.special-heading.text-uppercase graphic design
                  p.serv-prag Lorem Ipsum is simply dummy text of the printing 
                    | and typesetting industry Lorem Ipsum has been the industry's
                    | It has survived not only five centuries
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .col-sm-6.col-md-6.col-lg-4.serv-groub2
              .card.upper-card
                span.b-one 
                span.b-two
                span.b-three 
                span.b-four
                .icon
                  i.rounded-circle.fa.fa-code
                .card-body
                  h3.special-heading.text-uppercase developerment
                  p.serv-prag Lorem Ipsum is simply dummy text of the printing 
                    | and typesetting industry Lorem Ipsum has been the industry's
                    | It has survived not only five centuries
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
//- End Services Section