//- Start Footer Section
.foter.text-center
    .overlay
    .container
       .row
        .foot-icon 
         ul.list-unstyled.row
            li 
             a(href="https://www.facebook.com/Hesham.H.Adel")
              i.fab.fa-facebook-f
            li 
             a(href="https://twitter.com/H_Adel5") 
              i.fab.fa-twitter
            li 
             a(href="#")
              i.fab.fa-instagram
            li 
             a(href="#")
              i.fab.fa-behance
            li 
             a(href="https://linkedin.com/in/heshamadel000")
              i.fab.fa-linkedin  
            li 
             a(href="https://github.com/HeshamAdel0/Personal-Portfolio-Template.git")
              i.fab.fa-github
         .copyright    
           | Copyright &copy; 2018 UIXREX, All Rights Reserved.
.arrow-up.d-none.d-sm-none.d-md-block
  a.scroll-top(href="#")
    i(aria-hidden="true").fa.fa-arrow-up
//- End Footer Section